nav {
    height: 80px;
    width: 100%;
    background-color: #ff8a7f;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 0;
}


nav h1 {
    float: left;
    color: #3c6d6f;
    text-decoration: none;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}

nav ul li {
    display: inline-block;
    text-transform: capitalize;
    line-height: 20px;
    margin: 0 5px;
}

nav ul a {
    color: #3c6d6f;
    text-decoration: none;
    font-size: 36px;
    padding: 7px 10px;
}

nav ul a.active,
nav ul a:hover {
    color: #ffe0dd;
    text-decoration: none;
    cursor: pointer;
}

nav img {
    height: auto;
    width: 80px;
    float: left;
    position: relative;
    padding: 0;
}

.dropdown{
    display: inline-block;
}

.dropdown button {
    background-color: #3c6d6f;
    color: #ffe0dd;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown li{
    display: block;
    color: #3c6d6f;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #ffe0dd;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color:darkcyan;
}

.dropdown li:hover{
    background-color:deeppink;
}